.idea
.idea/*
.idea/misc.xml
.idea/workspace.xml
.pytest_cache
.venv/
.venv
dist/
dist
build/
build
tests/DcentralLab.egg-info
tests/DcentralLab.egg-info/
tests/__pycache__/*
tests/__pycache__
tests/utils/__pycache__/
tests/config/__pycache__/
tests/config/global_cfg/__pycache__/
tests/pages/__pycache__/
logs
./logfile.log
logs/logfile.log
tests/drivers
